@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  position: relative;
  /* background-color: yellow; */
  font-family: 'Josefin Sans', sans-serif;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  margin: 3px auto auto auto; /*Center align h1 text*/
  padding: 8px;
}

h3 {
  padding-top: 15px;
  margin: 0;
}

h5 {
  color: #fff;
  margin: 6px auto 6px auto;   /*Center align h5 text*/
}

hr {
  position: relative;
  border: 0;
  border-top: 6px dotted #EAF6F6;
  width: 50%;
  padding: 3% auto;
}

a {
  color: #fff;
}

a:visited {
  color: #f1f1f1;
}

a:hover {
  color: #dfdfdf;
}

img {
  object-fit: contain;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
}

.header {
  background-color: #353f5a;
  border-bottom: solid 3px #fff;
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 5px;
}

.footer {
  position: absolute;
  border-top: solid 3px #fff;
  bottom: 35px;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  padding: 6px 0;
  background: #353f5a;
  z-index: 101;
}

/* Class of .btn:*/
.btn {
  background-color: #353f5a;
  color: #fff;
  box-shadow: 3px 1px 1px rgba(0,0,0,0.2);
  transform: scale(1.5);
  margin: 10px;
}

.btn:active {
  background-color: #8492b5;
}

.btn-deck.active {
  background-color: #8492b5;
}

.btn-game-mode.active {
  background-color: #8492b5;
}


.btn-shuffle-deck {
  padding: 6px;
}

.btn-shuffle-deck.inplay {
  background-color: gray;
}

.container {
  overflow-y: hidden; /* Fix mobile browsers from using overflow */
  overflow-x: hidden; /* Fix mobile browsers from using overflow */
  position: relative;
  min-height: 100vh;
  display: block;
  height: auto;
  background-color: #8492b5;
  margin: 0;
}

.content-wrap {
  position: absolute;
  width: 100vw;
  left: 0;
  top: 0;
  bottom: 20px;
}

.info-container {
  transform: translate(100%, 100%);
  opacity: 0;
}

.info-container.visible {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 65px;
  z-index: 100;
  background-color: #8492b5;
  border-radius: 8px;
  overflow-y: auto;
  transform: translate(0, 0);
  opacity: 1;
}

.game-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
}

.pulsing-text {
  transform: scale(1);
  animation: pulse 2s infinite;
}

.game-instructions {
  display: block;
  height: 100%;
  margin: 0;
}

.play-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 18%;
  bottom: 35%;
  left: 10%;
  right: 10%;
  margin: 5px 0;
  text-align: center;
  align-items: center;
}

.instructions {
  display: fixed;
  position: absolute;
  transform: scale(2);
  top: 15px;
  right: 28px;
  color: #fff;
  opacity: 1;
  z-index: 1000;
}

.instructions:hover {
  opacity: 0.5;
}


/*****Classic Game Mode Specific*****/
.hand {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0%;
  left: 10%;
  right: 10%;
  margin: 5px 0;
  text-align: center;
  align-items: center;
}

.player-hand {
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.player-hand img {
  width: 150px;
  height: 225px;
  opacity: 1;
}

.player-hand-rock:hover {
  bottom: 25px;
}

.player-hand-paper:hover {
  bottom: 25px;
}

.player-hand-scissors:hover {
  bottom: 25px;
}

/* Centered text on card images */
.cards-text-centered {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ai-hand {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: -150px;
  left: 10%;
  right: 10%;
  margin: 5px 0;
  text-align: center;
  align-items: center;
}

.ai-hand-back {
  margin: 5px;
  position: relative;
}

.ai-hand-back img {
  width: 150px;
  height: 225px;
  opacity: 1;
}

/***********Message Styles************/
.message {
  position: absolute;
  font-size: 2.5rem;
  line-height: 1.8;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  opacity: 0;
  top: 20%; /*display message direct inbetween active cards*/
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in;
  z-index: 10;
}

.message.visible {
  transform: translate(-50%, 50%);
  opacity: 1;
}

/******Player/AI Cards*******/
.player-card {
  margin-top: 20px;
}

.player-card:hover {
  opacity: 0.33;
  cursor: pointer;
}

.player-card.played:hover {
  opacity: 1;
  cursor: auto;
}

.player-card img {
  position: relative;
  left: 9px;
  width: 100px; /*150*/
  height: 150px; /*125*/
  border-radius: 8%;
  box-shadow: 3px 1px 1px 1px rgba(0,0,0,0.2);
}

/*Note: Gotta have this selector for additional translate down the road...*/
.ai-card {
  position: relative;
  transform: rotate(180deg);
}

.ai-card img {
  position: relative;
  right: 9px;
  width: 100px; /*150*/
  height: 150px; /*125*/
  border-radius: 8%;
  box-shadow: -3px -1px 1px 1px rgba(0,0,0,0.2);
}

/********Tie Pot********/
.tie-pot {
  font-weight: bold;
  text-align: center;
  color: #353f5a;
  position: absolute;
  top: 35%;
  left: 2%;
  opacity: 0;
  z-index: 1;
}

.tie-pot.active {
  opacity: 1;
}

.tie-pot img {
  border-radius: 5%;
  width: 60px;
  height: 90px;
  box-shadow: 3px 1px 1px 1px rgba(0,0,0,0.2);
}

.tie-pot.win {
  transition: transform 1s ease-in;
  transform: translate(0%, 250%) scale(0.0);
}

.tie-pot.lose {
  transition: transform 1s ease-in;
  transform: translate(0%, -250%) scale(0.0);
}

.opaque {
  opacity: 0;
}

/* Centered text in tie pot image */
.tie-pot-centered {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/************WIN*************/
/*When player wins:*/
.player-card.win img {
  border-color: blue;
  transition: transform 1s ease-in;
  transform: translate(-400%, 80%) scale(0.0);
}

/*When AI wins:*/
.ai-card.win img {
  border-color: red;
  /*Animate to top left*/
  transition: transform 1s ease-in;
  transform: translate(400%, 80%) scale(0.0);
}

/************LOSE*************/
/*When player loses to AI:*/
.player-card.lose img {
  transition: transform 1s ease-in;
  transform: translate(-400%, -175%) scale(0.0);   /*Animate to top left*/
}

/*When AI loses to player:*/
.ai-card.lose img {
  transition: transform 1s ease-in;
  transform: translate(400%, -175%) scale(0.0); /*Animate to bottom left*/
}

/************TIE*************/
/*When player card ties with AI:*/
.player-card.tie img {
  transition: transform 1s ease-in;
  transform: translate(-400%, -38%) scale(0);
}

/*When AI card ties with player:*/
.ai-card.tie img {
  transition: transform 1s ease-in;
  transform: translate(400%, -38%) scale(0);
}

/*****************WIN TIE animations******************/

.player-tie.win img {
  position: absolute;
  transition: transform .6s ease-in;
  transform: translate(-1000%, 0%) scale(0);
}

.ai-tie.win img {
  position: absolute;
  transition: transform .6s ease-in;
  transform: translate(-1000%, 0%) scale(0);
}

/*****************LOSE TIE animations******************/
.player-tie.lose img {
  position: absolute;
  transition: transform .6s ease-in;
  transform: translate(-1000%, -1000%) scale(0);
}

.ai-tie.lose img {
  position: absolute;
  transition: transform .6s ease-in;
  transform: translate(-1000%, 1000%) scale(0);
}
/****************************************/

.center {
  transform: translate(-50%);
}

.ui {
  font-size: 1.8rem;
  color: #fff;
  left: 8px;
}

.ui-computer {
  position: absolute;
  display: block;
  top: 8px;
}

.ui-player {
  position: absolute;
  display: block;
  padding: 3px 0;
  bottom: 70px;
}

/* Code for scrollbar in information window: */
/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e709e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353f5a;
}

@media (max-height: 1368px) {
  .player-card img {
    width: 180px;
    height: 270px;
  }

  .ai-card img {
    width: 180px;
    height: 270px;
  }
}

@media (max-height: 820px) {
  .player-card img {
    width: 130px;
    height: 195px;
  }

  .ai-card img {
    width: 130px;
    height: 195px;
  }
}

@media (max-height: 620px) {
  .player-card img {
    width: 120px;
    height: 180px;
  }

  .ai-card img {
    width: 120px;
    height: 180px;
  }

  .game-setup {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  /*When player wins:*/
  .player-card.win img {
    transform: translate(-100%, 80%) scale(0.0);
  }

  /*When AI wins:*/
  .ai-card.win img {
    transform: translate(100%, 65%) scale(0.0);
  }

  /*When player loses to AI:*/
  .player-card.lose img {
    /*Animate to top left*/
    transform: translate(-100%, -200%) scale(0.0);
  }

  /*When AI loses to player:*/
  .ai-card.lose img {
    /*Animate to bottom left*/
    transform: translate(100%, -200%) scale(0.0);
  }

  /*When player card ties with AI:*/
  .player-card.tie img {
    transform: translate(-250%, -38%) scale(0);
  }

  /*When AI card ties with player:*/
  .ai-card.tie img {
    transform: translate(250%, -38%) scale(0);
  }

  .message {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  a {
    font-size: .9rem;
  }
}

@media (max-width: 290px) {
  h1 {
    font-size: 1.7rem;
  }
}

/*Animate pulse effect*/
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}
